body {
  background-image: url(images/);
}

h1,
h2 {
  font-family: "Merienda", cursive;
  text-align: center;
}
h1 {
  color: #ff006d;
  font-size: 30px;
}
h2 {
  color: #f78e2d;
  font-size: 20px;
}

ul {
  list-style: none;
}

hr {
  border: none;
  border-top: 2px solid;
  opacity: 25%;
}

.card {
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 700px;
}
.card-body {
  border: 1px solid #a999e2;
  border-radius: 10px;
  padding: 30px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.todaysWeather {
  text-align: center;
  margin-bottom: 20px;
}

.todaysWeather #description {
  padding: 10px;
}

.todaysWeather #current-temp {
  font-size: 40px;
  padding: 0;
}

.todaysWeather #units {
  position: relative;
  font-size: 15px;
  top: -15px;
}
#future-forecast {
  color: rgb(168, 106, 226);
  text-align: center;
}
#future-days {
  font-family: "Merienda", cursive;
  font-size: 20px;
  color: #ff7043;
  text-align: left;
  padding: 10px;
}
#high {
  color: #04d3b0;
  font-weight: bold;
}
#current-temp {
  padding: 15px;
}

#git-hub-link {
  text-align: center;
}
