body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
}
h2 {
  font-size: 20px;
}

ul {
  list-style: none;
}
a {
  color: #9ab3f5;
}
hr {
  border: none;
  border-top: 2px solid;
  opacity: 25%;
}

.card {
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 14px 28px 89px -8px rgba(172, 146, 172, 0.63);
  max-width: 700px;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
.card-body {
  border: 1px solid #a999e2;
  border-radius: 15px;
  padding: 30px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.todaysWeather {
  text-align: center;
  margin-bottom: 20px;
}

.todaysWeather #description {
  font-size: 30px;
  color: #fadcaa;
}

.todaysWeather #current-temp {
  font-size: 40px;
  padding: 0;
}

.todaysWeather #units {
  color: #b465da;
  font-weight: bold;
  position: relative;
  font-size: 15px;
  padding: 5px;
  top: -18px;
}

#future-forecast {
  color: #fadcaa;
  text-align: center;
}
#future-days {
  font-size: 20px;

  text-align: left;
  padding: 10px;
}
#high {
  color: #04d3b0;
  font-weight: bold;
}
#current-temp {
  padding: 15px;
}

#github-linkedin-link {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #cc3dd1;
}
